<!--
{% set preset = presets[preset] if preset in presets else None %}
{% set view = req.query.get('view', 'html') if req else 'html' %}
{% if preset %}
-->
<script src="/js/web-component.js"></script>
<game-of-life
  class="flex flex-col flex-1 justify-start"
  view="{{view}}"
  title="{{preset.title}}"
  image="{{preset.image}}"
  width="{{preset.width}}"
  height="{{preset.height}}"
  scale="{{preset.scale}}"
  delay="{{preset.delay}}"
  wrapped="{{preset.wrapped}}"
></game-board>
<!-- {% endif %} -->
