<!--
{% set data = presets[preset] if preset in presets else None %}
{% set version = req.query.get('v', 'latest') if req else 'latest' %}
{% if data %}
-->
<link href="/game/css/board.css" rel="stylesheet" />
<script src="/game/js/{{version}}/engine.js"></script>
<script src="/game/js/{{version}}/view.js"></script>
<div
  class="flex flex-col flex-1 justify-start"
  x-init="game = new GameEngine(view)"
  x-data="{ 
    view: new HtmlRenderer('.game-board'),
    show_config: false, 
    started: null,
  }"
>
  {% include 'game/toolbar.html' %}
  <div class="flex flex-col flex-1 justify-center">
    <div
      class="game-board"
      title="{{data.title}}"
      image="{{data.image}}"
      width="{{data.width}}"
      height="{{data.height}}"
      scale="{{data.scale}}"
      delay="{{data.delay}}"
      wrapped="{{data.wrapped}}"
    >
      <!--
    <div class="row">
      <div id="1x1" value="0"></div>
      <div id="1x2" value="1"></div>
      <div id="1x3" value="0"></div>
    </div>
    <div class="row">
      <div id="2x1" value="1"></div>
      <div id="2x2" value="1"></div>
      <div id="2x3" value="1"></div>
    </div>
    <div class="row">
      <div id="3x1" value="0"></div>
      <div id="3x2" value="1"></div>
      <div id="3x3" value="0"></div>
    </div>
  -->
    </div>
  </div>
</div>
<!-- {% endif %} -->
