<!--
{% set preset = presets[preset] if preset in presets else None %}
{% set view = req.query.get('view', 'html') if req else 'html' %}
{% set engine = req.query.get('engine', 'latest') if req else 'latest' %}
{% if preset %}
-->
<script src="/game/core.js"></script>
<script src="/game/toolbar.js"></script>
<script src="/game/game.js"></script>
<script src="/game/views/{{view}}.js"></script>
<script src="/game/engines/{{engine}}.js"></script>
<!-- {% if engines %} -->
<script>
  // Register known game engine versions
  GameOfLife.engines = {{engines|tojson|safe}}
</script>
<!-- {% endif %} -->
<game-of-life
  class="flex flex-col flex-1 justify-start"
  view="{{view}}"
  title="{{preset.title}}"
  image="{{preset.image}}"
  width="{{preset.width}}"
  height="{{preset.height}}"
  scale="{{preset.scale}}"
  delay="{{preset.delay}}"
  wrapped="{{preset.wrapped}}"
  engines='{{engines|tojson|safe}}'
></game-board>
<!-- {% endif %} -->
