<!--
{% set data = presets[preset] if preset in presets else None %}
{% set view = req.query.get('view', 'basic') if req else 'basic' %}
{% if data %}
-->
<div
  class="relative flex flex-col flex-1 justify-center"
  x-data="{
    fullscreen: false
  }"
>
  <!-- Overlay to make window fullscreen / detached -->
  <div
    class="flex px-4 space-x-2 absolute z-20 top-0 right-1/2 border border-t-0 border-gray-500 rounded-b-2xl bg-gray-300 dark:bg-gray-700 opacity-25 hover:opacity-100"
  >
    <a href="#" @click="fullscreen = true">Fullscreen</a>
    <a>|</a>
    <a href="#" @click="fullscreen = false">Detach Window</a>
  </div>

  <!-- Game board view panel -->
  <div
    class="flex flex-col mx-auto justify-center border border-gray-500 resize-none hover:resize"
    :class="{ 
      'flex-1 w-full h-full': fullscreen,
      'flex-0 min-w-1/2 min-h-1/2': !fullscreen,
    }"
  >
    {% include 'game/views/'+view+'.html' %}
  </div>
</div>
<!-- {% endif %} -->
