<!--
{% set preset = presets[preset] if preset in presets else None %}
{% set view = req.query.get('view', 'basic') if req else 'basic' %}
{% set engine = req.query.get('engine', 'latest') if req else 'latest' %}
{% if preset %}
-->
<script src="/game/engines/{{engine}}.js"></script>
<script src="/game/views/{{view}}.js"></script>
<script>
  function autostart(game) {
    // Remove the auto start param
    let params = new URLSearchParams(window.location.search);
    params.delete('autostart')
    history.pushState(null, null, "?" + params.toString());

    // Start the game
    game.start()
  }
</script>
<game-of-life
  title="{{preset.title}}"
  image="{{preset.image}}"
  width="{{preset.width}}"
  height="{{preset.height}}"
  scale="{{preset.scale}}"
  delay="{{preset.delay}}"
  wrapped="{{preset.wrapped}}"
  class="flex flex-col flex-1 justify-start"
  x-init="game = new GameEngine(view); started && autostart(game);"
  x-data="{ 
    view: new HtmlRenderer('game-of-life', '.game-board'),
    show_config: false, 
    started: (new URLSearchParams(window.location.search)).get('autostart') ? true : null,
  }"
>
  {% include 'game/toolbar.html' %}
  <div class="flex flex-col flex-1 justify-center">
    <div class="game-board">
      <!--
      <div class="row">
        <div id="1x1" value="0"></div>
        <div id="1x2" value="1"></div>
        <div id="1x3" value="0"></div>
      </div>
      <div class="row">
        <div id="2x1" value="1"></div>
        <div id="2x2" value="1"></div>
        <div id="2x3" value="1"></div>
      </div>
      <div class="row">
        <div id="3x1" value="0"></div>
        <div id="3x2" value="1"></div>
        <div id="3x3" value="0"></div>
      </div>
      -->
    </div>
  </div>
</game-board>
<!-- {% endif %} -->
