<form class="game-toolbar flex flex-col flex-0">
  <script>
    function update_query_params(changes) {
      if (!changes) return;
      let params = new URLSearchParams(window.location.search);
      Object.keys(changes).forEach((key) => params.set(key, changes[key]));
      history.pushState(null, null, "?" + params.toString());
      window.location.reload();
    }
  </script>
  <div
    class="flex flex-0 text-gray-900 dark:text-white bg-gray-200 dark:bg-gray-700 border-b border-gray-400 dark:border-gray-500"
  >
    <!-- Game Title -->
    <p
      class="flex flex-0 flex-shrink-1 py-1.5 px-2 text-sm font-bold"
      style="overflow: hidden; white-space: nowrap"
    >
      {{data.title or 'Game of Life'}}
    </p>

    <!-- Dimentions -->
    <label
      class="flex flex-0 py-1.5 text-sm font-thin"
      style="display: none"
      x-show="!started"
    >
      (
      <span class="board-width"></span>
      x
      <span class="board-height"></span>
      )
    </label>

    <div class="flex flex-1 flex-shrink-0"></div>

    <!-- Frames Per Second -->
    <label
      x-show="started"
      style="display: none"
      class="py-1.5 text-sm font-slim italic"
    >
      <span class="game-fps font-bold">0</span> fps
    </label>

    <div class="inline-flex text-sm font-medium px-2 space-x-2" role="group">
      <!-- Revert to beginning -->
      <button
        type="button"
        class="flex flex-1 space-x-2 items-center justify-center text-gray-400 dark:text-gray-500"
        x-show="started === false && game.generation > 0"
        style="display: none;"
      >
        <span @click="game.reset(); started = null" title="Reset"
          >{% include 'icons/revert.svg' %}</span
        >
      </button>
      <!-- Game Config -->
      <button
        type="button"
        class="flex flex-1 space-x-2 items-center justify-center text-gray-400 dark:text-gray-500"
        x-show="!started"
        style="display: none;"
      >
        <span @click="show_config = !show_config" title="Configure"
          >{% include 'icons/gears.svg' %}</span
        >
      </button>
    </div>

    <div class="inline-flex text-sm font-medium shadow-sm w-24" role="group">
      <!-- Stop Button -->
      <button
        type="button"
        class="flex flex-1 space-x-2 items-center justify-center text-white bg-blue-700 border border-blue-700 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        @click="started = false; game.stop()"
        x-show="started"
        style="display: none;"
      >
        <span>{% include 'icons/stop.svg' %}</span>
        <span>Stop</span>
      </button>
      <!-- Start Button -->
      <button
        type="button"
        class="flex flex-1 space-x-2 items-center justify-center text-white bg-blue-700 border border-blue-700 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        @click="started = true; game.start()"
        x-show="!started"
        style="display: none;"
      >
        <span>{% include 'icons/play.svg' %}</span>
        <span>Start</span>
      </button>
    </div>
  </div>
  <div
    class="flex flex-0 z-20 h-8 -mb-8 text-gray-900 dark:text-white bg-gray-100 dark:bg-gray-600 border-b border-gray-400 dark:border-gray-500"
    x-show="show_config && !started"
  >
    <div class="flex w-full relative space-x-2 border-y-1">
      <!-- Set Width -->
      <label class="py-1.5 text-sm font-slim">
        <span class="px-1">Width</span>
        <input
          type="text"
          x-model="game.width"
          class="w-12 -my-2 px-2 text-sm appearance-none outline-none text-gray-800 bg-gray-50 dark:bg-gray-700 dark:text-gray-200"
        />
      </label>
      <!-- Set Height -->
      <label class="py-1.5 text-sm font-slim">
        <span class="px-1">Height</span>
        <input
          type="text"
          x-model="game.height"
          class="w-12 -my-2 px-2 text-sm appearance-none outline-none text-gray-800 bg-gray-50 dark:bg-gray-700 dark:text-gray-200"
        />
      </label>
      <!-- Set Delay -->
      <label class="py-1.5 text-sm font-slim">
        <span class="px-1">Delay</span>
        <input
          type="text"
          x-model="game.delay"
          class="w-10 -my-2 px-2 text-sm appearance-none outline-none text-gray-800 bg-gray-50 dark:bg-gray-700 dark:text-gray-200"
        />
      </label>
      <div class="flex flex-1"></div>
      <div class="flex flex-0 relative space-x-2" x-data="{ show_menu: '' }">
        <div class="flex flex-0">
          <button
            type="button"
            title="View Options"
            class="p-2 -m-2"
            @click="show_menu = show_menu == 'views' ? '' : 'views'"
          >
            <span>{% include 'icons/view.svg' %}</span>
          </button>
          <div
            id="dropdown-menu"
            style="display: none;"
            x-show="show_menu == 'views'"
            class="origin-top-right absolute right-0 mt-8 w-40 shadow-lg bg-white dark:bg-gray-700 ring-1 ring-gray-500 ring-opacity-5"
          >
            <div
              class="text-gray-500 dark:text-gray-400 outline outline-gray-300 dark:outline-gray-500"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="dropdown-button"
            >
              <div
                class="px-2 py-2 text-sm font-bold border-b border-gray-200 dark:border-gray-500"
              >
                Select View Type
              </div>
              <a
                @click="show_menu = ''; update_query_params({view: 'html'})"
                class="flex space-x-2 px-2 py-1 cursor-pointer text-sm bg-white hover:bg-gray-100 dark:bg-gray-700 hover:dark:bg-gray-600"
                :class="{ 'font-bold text-gray-900 dark:text-white': 'html' == (new URLSearchParams(window.location.search)).get('view') }"
                role="menuitem"
              >
                <span>{% include 'icons/html.svg' %}</span>
                <span class="py-0.5">HTML Divs</span>
              </a>
              <a
                @click="show_menu = ''; update_query_params({view: 'svg'})"
                class="flex space-x-2 px-2 py-1 cursor-pointer text-sm bg-white hover:bg-gray-100 dark:bg-gray-700 hover:dark:bg-gray-600"
                :class="{ 'font-bold text-gray-900 dark:text-white': 'svg' == (new URLSearchParams(window.location.search)).get('view') }"
                role="menuitem"
                aria-disabled="true"
              >
                <span>{% include 'icons/svg.svg' %}</span>
                <span class="py-0.5">SVG Image</span>
              </a>
              <a
                @click="show_menu = ''; update_query_params({view: 'canvas'})"
                class="flex space-x-2 px-2 py-1 cursor-pointer text-sm bg-white hover:bg-gray-100 dark:bg-gray-700 hover:dark:bg-gray-600"
                :class="{ 'font-bold text-gray-900 dark:text-white': 'canvas' == (new URLSearchParams(window.location.search)).get('view') }"
                role="menuitem"
              >
                <span>{% include 'icons/canvas.svg' %}</span>
                <span class="py-0.5">Image Canvas</span>
              </a>
              <a
                @click="show_menu = ''; update_query_params({view: 'webgl'})"
                class="flex space-x-2 px-2 py-1 cursor-pointer text-sm bg-white hover:bg-gray-100 dark:bg-gray-700 hover:dark:bg-gray-600"
                :class="{ 'font-bold text-gray-900 dark:text-white': 'webgl' == (new URLSearchParams(window.location.search)).get('view') }"
                role="menuitem"
              >
                <span>{% include 'icons/gpu.svg' %}</span>
                <span class="py-0.5">WebGL (GPU)</span>
              </a>
              <hr class="border border-gray-200 dark:border-gray-500" />
              <a
                @click="show_menu = ''; update_query_params({view: 'benchmark'})"
                class="flex space-x-2 px-2 py-1 cursor-pointer text-sm bg-white hover:bg-gray-100 dark:bg-gray-700 hover:dark:bg-gray-600"
                :class="{ 'font-bold text-gray-900 dark:text-white': 'benchmark' == (new URLSearchParams(window.location.search)).get('view') }"
                role="menuitem"
              >
                <span>{% include 'icons/benchmark.svg' %}</span>
                <span class="py-0.5">FPS Counter</span>
              </a>
            </div>
          </div>
        </div>
        <div class="flex flex-0">
          <button
            type="button"
            title="Game Engine Settings"
            class="p-2 -m-2 mr-0"
            @click="show_menu = show_menu == 'engines' ? '' : 'engines'"
          >
            <span>{% include 'icons/cpu.svg' %}</span>
          </button>
          <div
            id="dropdown-menu"
            style="display: none;"
            x-show="show_menu == 'engines'"
            class="origin-top-right absolute right-0 mt-8 w-40 shadow-lg bg-white dark:bg-gray-700"
          >
            <div
              class="text-gray-500 dark:text-gray-400 outline outline-gray-300 dark:outline-gray-500"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="dropdown-button"
            >
              <div
                class="px-2 py-2 text-sm font-bold border-b border-gray-200 dark:border-gray-500"
              >
                Select Game Engine
              </div>
              <a
                @click="show_menu = ''; update_query_params({engine: 'latest'})"
                class="flex space-x-2 px-2 py-1 cursor-pointer text-sm bg-white hover:bg-gray-100 dark:bg-gray-700 hover:dark:bg-gray-600"
                :class="{ 'font-bold text-gray-900 dark:text-white': 'latest' == ((new URLSearchParams(window.location.search)).get('engine') || 'latest') }"
                role="menuitem"
              >
                <span>{% include 'icons/cpu.svg' %}</span>
                <span class="py-0.5">latest</span>
              </a>
              <a
                @click="show_menu = ''; update_query_params({engine: 'v0.0-basic'})"
                class="flex space-x-2 px-2 py-1 cursor-pointer text-sm bg-white hover:bg-gray-100 dark:bg-gray-700 hover:dark:bg-gray-600"
                :class="{ 'font-bold text-gray-900 dark:text-white': 'v0.0-basic' == (new URLSearchParams(window.location.search)).get('engine') }"
                role="menuitem"
              >
                <span>{% include 'icons/cpu.svg' %}</span>
                <span class="py-0.5">v0.0-basic</span>
              </a>
              <hr class="border border-gray-200 dark:border-gray-500" />
              <a
                @click="show_menu = ''; update_query_params({view: 'benchmark', autostart: true})"
                class="flex space-x-2 px-2 py-1 cursor-pointer text-sm bg-white hover:bg-gray-100 dark:bg-gray-700 hover:dark:bg-gray-600"
                :class="{ 'font-bold text-gray-900 dark:text-white': 'benchmark' == (new URLSearchParams(window.location.search)).get('view') }"
                role="menuitem"
              >
                <span>{% include 'icons/play.svg' %}</span>
                <span class="py-0.5">Run Benchmark</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
