<form class="flex flex-col flex-0">
  <div
    class="flex flex-0 text-gray-900 dark:text-white bg-gray-200 dark:bg-gray-700 border-b border-gray-400 dark:border-gray-500"
  >
    <!-- Game Title -->
    <p
      class="flex flex-0 flex-shrink-1 py-1.5 px-2 text-sm font-bold"
      style="overflow: hidden; white-space: nowrap"
    >
      {{data.title or 'Game of Life'}}
    </p>

    <!-- Dimentions -->
    <label class="flex flex-0 py-1.5 text-sm font-thin" x-show="!started">
      (
      <span x-text="game.width"></span>
      x
      <span x-text="game.height"></span>
      )
    </label>

    <!-- Frames Per Second -->
    <label
      x-show="started"
      style="display: none"
      class="py-1.5 px-2 text-sm font-slim italic"
    >
      <span id="fps-counter" class="game-fps font-bold">0</span> fps
    </label>
    <div class="flex flex-1 flex-shrink-0"></div>

    <div class="inline-flex text-sm font-medium px-2 space-x-2" role="group">
      <!-- Revert to beginning -->
      <button
        type="button"
        class="flex flex-1 space-x-2 items-center justify-center text-gray-400 dark:text-gray-500"
        x-show="started === false"
      >
        <span @click="game.load(view.target)" title="Reset"
          >{% include 'icons/revert.svg' %}</span
        >
      </button>
      <!-- Game Config -->
      <button
        type="button"
        class="flex flex-1 space-x-2 items-center justify-center text-gray-400 dark:text-gray-500"
        x-show="!started"
      >
        <span @click="show_config = !show_config" title="Configure"
          >{% include 'icons/gears.svg' %}</span
        >
      </button>
    </div>

    <div class="inline-flex text-sm font-medium shadow-sm w-24" role="group">
      <!-- Stop Button -->
      <button
        type="button"
        class="flex flex-1 space-x-2 items-center justify-center text-white bg-blue-700 border border-blue-700 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        @click="started = false; game.stop()"
        x-show="started"
      >
        <span>{% include 'icons/stop.svg' %}</span>
        <span>Stop</span>
      </button>
      <!-- Start Button -->
      <button
        type="button"
        class="flex flex-1 space-x-2 items-center justify-center text-white bg-blue-700 border border-blue-700 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        @click="started = true; game.start()"
        x-show="!started"
      >
        <span>{% include 'icons/play.svg' %}</span>
        <span>Start</span>
      </button>
    </div>
  </div>
  <div
    class="flex flex-0 z-20 h-8 -mb-8 text-gray-900 dark:text-white bg-gray-100 dark:bg-gray-600 border-b border-gray-400 dark:border-gray-500"
    x-show="show_config && !started"
  >
    <div class="flex relative space-x-2 border-y-1">
      <!-- Set Width -->
      <label class="py-1.5 text-sm font-slim">
        <span class="px-1">Width</span>
        <input
          type="text"
          x-model="game.width"
          class="w-12 -my-2 px-2 text-sm appearance-none outline-none text-gray-800 bg-gray-50 dark:bg-gray-700 dark:text-gray-200"
        />
      </label>
      <!-- Set Height -->
      <label class="py-1.5 text-sm font-slim">
        <span class="px-1">Height</span>
        <input
          type="text"
          x-model="game.height"
          class="w-12 -my-2 px-2 text-sm appearance-none outline-none text-gray-800 bg-gray-50 dark:bg-gray-700 dark:text-gray-200"
        />
      </label>
      <!-- Set Delay -->
      <label class="py-1.5 text-sm font-slim">
        <span class="px-1">Delay</span>
        <input
          type="text"
          x-model="game.delay"
          class="w-10 -my-2 px-2 text-sm appearance-none outline-none text-gray-800 bg-gray-50 dark:bg-gray-700 dark:text-gray-200"
        />
      </label>
    </div>
  </div>
</form>
