<div class="flex items-start justify-center lg:h-screen">
  <div class="container mx-auto p-4">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-6 gap-4"
    >
      <!-- {% for key, preset in presets.items() %} -->
      <!-- {% if not group or group == preset.group %} -->
      <a href="?group={{group}}&preset={{key}}" class="bg-white rounded-lg border p-4 block">
        <img
          alt="{{ preset.title }}"
          src="{{ preset.image }}"
          class="w-full h-24 object-contain"
        />
        <div class="px-1 pt-4">
          <div class="font-bold text-xl capitalize">{{ preset.title }}</div>
        </div>
      </a>
      <!-- {% endif %} -->
      <!-- {% endfor %} -->
    </div>
  </div>
</div>
