<div class="flex flex-col min-h-full justify-center">
  <link rel="stylesheet" href="/css/board.css" />
  <div class="game-board">
    <!--
    <div class="row">
      <div id="1x1" value="0"></div>
      <div id="1x2" value="1"></div>
      <div id="1x3" value="0"></div>
    </div>
    <div class="row">
      <div id="2x1" value="1"></div>
      <div id="2x2" value="1"></div>
      <div id="2x3" value="1"></div>
    </div>
    <div class="row">
      <div id="3x1" value="0"></div>
      <div id="3x2" value="1"></div>
      <div id="3x3" value="0"></div>
    </div>
    -->
  </div>
</div>
