<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <title>Conway's Game of Life</title>
    <!-- Load HTMX, Alpine and Tailwind from a CDN -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.4/htmx.min.js"
      integrity="sha512-ZM2vxgVBxhBI5Etj/c/qcJV+upate3VzbVQOQRCx1YGuyEX9dYdMh8pRUot4xIwtAay6QwRQC/FdXRjSWIEHrg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine.js"
      integrity="sha512-nIwdJlD5/vHj23CbO2iHCXtsqzdTTx3e3uAmpTm4x2Y8xCIFyWu4cSIV8GaGe2UNVq86/1h9EgUZy7tn243qdA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script>
      htmx.config.useTemplateFragments = true;
    </script>
  </head>
  <body
    x-init="preset && engine.load(preset, '.game-board')"
    x-data="{ 
      preset: (new URLSearchParams(window.location.search)).get('preset') || 'blank', 
      started: false 
    }"
  >
    <!-- Main template -->
    <div
      class="flex flex-col min-h-screen w-full bg-gray-100 text-gray-700 dark:bg-gray-800 dark:text-gray-400"
    >
      <!-- App Toolbar -->
      <header
        class="flex w-full p-2 items-center justify-between border-b-2 bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700"
      >
        {% include 'toolbar.html' %}
      </header>

      <div class="flex flex-grow flex-row">
        <!-- Side Navigation -->
        {% block sidenav %}{% include 'sidenav.html' %}{% endblock sidenav %}

        <!-- Main content page -->
        <main class="flex flex-col flex-1 overflow-y-auto">
          {% block content %}
          <!-- {% if preset %} -->
          {% include 'board.html' %}
          <!-- {% else %} -->
          {% include 'browse.html' %}
          <!-- {% endif %} -->
          {% endblock content %}
        </main>
      </div>
    </div>

    <!-- Script block for initialisation hooks -->
    <script src="/js/dark-mode.js"></script>
    {% block scripts %}
    <!-- {% if preset %} -->
    <script src="/js/app.js"></script>
    <script src="/js/presets.js"></script>
    <!-- {% endif %} -->
    {% endblock scripts %}
  </body>
</html>
