<sidenav
  class="w-80 h-screen overscroll-contain flex flex-col flex-0 overflow-y-auto border-gray-200 bg-white dark:bg-gray-600"
>
  <div class="px-3 py-4 overflow-y-auto rounded">
    <h1 class="px-3 py-2 font-bold text-2xl">Game Presets</h1>
    <ul class="px-3 py-4 space-y-2">
      <!-- {% for key in groups %} -->
      <li class="opcion-con-desplegable">
        <!-- {% if group == key %} -->
        <a
          href="?group="
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          {% include 'icons/folder-minus.svg' %}
          <span class="ml-3">{{groups[key]}}</span>
        </a>
        <!-- {% else %} -->
        <a
          href="?group={{key}}"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          {% include 'icons/folder-plus.svg' %}
          <span class="ml-3">{{groups[key]}}</span>
        </a>
        <!-- {% endif %} -->
        <!-- {% if group == key %} -->
        <ul class="desplegable ml-0">
          <!-- {% for name, item in presets.items() %} -->
          <!-- {% if item.group == key %} -->
          <li>
            <a
              href="?group={{key}}&preset={{name}}"
              class="block p-2 flex items-center hover:bg-gray-100 dark:hover:bg-gray-700"
            >
              <!-- {% if name == preset %} -->
              {% include 'icons/arrow-circle-right.svg' %}
              <span class="ml-3 font-bold">{{ item.title or key }}</span>
              <!-- {% else %} -->
              {% include 'icons/document.svg' %}
              <span class="ml-3">{{ item.title or key }}</span>
              <!-- {% endif %} -->
            </a>
          </li>
          <!-- {% endif %} -->
          <!-- {% endfor %} -->
        </ul>
        <!-- {% endif %} -->
      </li>
      <!-- {% endfor %} -->
    </ul>
  </div>
</sidenav>
