.metric {
}

.metric svg {
  width: 100%;
}

.metric path {
  stroke-width: 75;
  stroke: #ecf0f1;
  fill: none;
}

.metric text {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.metric path.data-arc {
  stroke: #3498db;
}

.metric text {
  fill: #3498db;
}