.game-board {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.game-board .row {
  display: flex;
  flex-grow: 1;
}
.game-board .row [value] {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  outline: solid 1px #88888866;
  min-width: 3px;
  min-height: 3px;
}
.game-board .row [value]:hover {
  cursor: pointer;
}
.game-board .row [value="0"] {
  outline: solid 1px #aaaaaa22;
}
.game-board .row [value="0"]:hover {
  background-color: #aaaaaa44;
}
.game-board .row [value="1"] {
  background-color: #000000;
}

.dark .game-board .row [value] {
  outline: solid 1px #88888822;
}
.dark .game-board .row [value="0"]:hover {
  background-color: #aaaaaa44;
}
.dark .game-board .row [value="1"] {
  background-color: #ffffff;
}
