<div
  {{ with .Get "style" }} style="{{ . | safeCSS }}"{{ end }}
  {{ with .Get "class" }} class="{{ . }}"{{ end }}
>
<style>
    .cgol-simple-samples {
        width: 100%; 
        border: 0px !important;
    }
    .cgol-simple-samples tr {
        background: none !important;
    }
    .cgol-simple-samples tr td {
        width: 25%;
        padding: 0px;
        background: none;
    }
</style>
<table class="cgol-simple-samples">
    <tr>
        <td>
            <game-of-life                 
                style="width: 100%"
                title="Stable Shapes" 
                image="/presets/basic/stable.png"
                locked="true"
                autoplay="true"
                delay="250"
            ></game-of-life>
        </td>
        <td>
            <game-of-life                 
                style="width: 100%"
                title="Oscillators" 
                image="/presets/basic/repeating.png"
                locked="true"
                autoplay="true"
                delay="250"
            ></game-of-life>
        </td>
        <td>
            <game-of-life                 
                style="width: 100%"
                title="Glider" 
                image="/presets/basic/glider.png"
                wrapped="true"
                locked="true"
                autoplay="true"
                delay="250"
            ></game-of-life>
        </td>
        <td>
            <game-of-life                 
                style="width: 100%"
                title="Spaceship" 
                image="/presets/basic/spaceship.png"
                wrapped="true"
                locked="true"
                autoplay="true"
                delay="150"
            ></game-of-life>
        </td>
    </tr>
</table>
{{ .Inner }}
</div>