<script src={{ "/js/web-component.js" | relURL }}></script>
<div
  {{ with .Get "style" }} style="{{ . | safeCSS }}"{{ end }}
  {{ with .Get "class" }} class="{{ . }}"{{ end }}
>
<game-of-life
  {{ with .Get "view" }} view="{{ . }}"{{ end }}
  {{ with .Get "start" }} start="{{ . }}"{{ end }}
  
  {{ with .Get "title" }} title="{{ . }}"{{ end }}
  {{ with .Get "image" }} image="{{ . }}"{{ end }}
  {{ with .Get "width" }} width="{{ . }}"{{ end }}
  {{ with .Get "height" }} height="{{ . }}"{{ end }}
  {{ with .Get "scale" }} scale="{{ . }}"{{ end }}
  {{ with .Get "delay" }} delay="{{ . }}"{{ end }}  
  {{ with .Get "wrapped" }} wrapped="{{ . }}"{{ end }}

  {{ with .Get "toolbar" }} toolbar="{{ . }}"{{ end }}
  {{ with .Get "locked" }} locked="{{ . }}"{{ end }}
  {{ with .Get "autoplay" }} autoplay="{{ . }}"{{ end }}
  
  {{ with .Get "explain" }} explain="{{ . }}"{{ end }}
  >
{{ .Inner }}
</game-board>
</div>