<!-- {{ $base := .Site.BaseURL }} -->
<script src="{{ $base }}js/web-component.js"></script>
<div
  {{ with .Get "style" }} style="{{ . | safeCSS }}"{{ end }}
  {{ with .Get "class" }} class="{{ . }}"{{ end }}
>
<style>
    .cgol-simple-spaceships {
        width: 100%; 
        border: 0px !important;
    }
    .cgol-simple-spaceships tr {
        background: none !important;
    }
    .cgol-simple-spaceships tr td {
        width: 33.33%;
        padding: 0px;
        background: none;
    }
</style>
<table class="cgol-simple-spaceships" >
    <tr>
        <td>
            <game-of-life                 
                style="width: 100%"
                title="Glider" 
                image="{{ $base }}presets/ships/glider.png"
                locked="true"
                autoplay="true"
                delay="250"
                wrapped="true"
            ></game-of-life>
        </td>
        <td>
            <game-of-life                 
                style="width: 100%"
                title="Lightweight Spaceship" 
                image="{{ $base }}presets/ships/lwss.png"
                locked="true"
                autoplay="true"
                delay="150"
                wrapped="true"
            ></game-of-life>
        </td>
        <td>
            <game-of-life                 
                style="width: 100%"
                title="Heavyweight Spaceship" 
                image="{{ $base }}presets/ships/wing.png"
                wrapped="true"
                locked="true"
                autoplay="true"
                delay="50"
                wrapped="true"
            ></game-of-life>
        </td>
    </tr>
</table>
{{ .Inner }}
</div>