<!-- {{ $base := .Site.BaseURL }} -->
<script src="{{ $base }}js/web-component.js"></script>
<div
  {{ with .Get "style" }} style="{{ . | safeCSS }}"{{ end }}
  {{ with .Get "class" }} class="{{ . }}"{{ end }}
>
<style>
    .cgol-simple-stable {
        width: 100%; 
        border: 0px !important;
    }
    .cgol-simple-stable tr {
        background: none !important;
    }
    .cgol-simple-stable tr td {
        width: 25%;
        padding: 0px;
        background: none;
    }
</style>
<table class="cgol-simple-stable">
    <tr>
        <td>
            <game-of-life                 
                style="width: 100%"
                title="Block" 
                image="{{ $base }}presets/stable/block.png"
                locked="true"
                autoplay="true"
                delay="1000"
            ></game-of-life>
        </td>
        <td>
            <game-of-life                 
                style="width: 100%"
                title="Beehive" 
                image="{{ $base }}presets/stable/beehive.png"
                locked="true"
                autoplay="true"
                delay="1000"
            ></game-of-life>
        </td>
        <td>
            <game-of-life                 
                style="width: 100%"
                title="Loaf" 
                image="{{ $base }}presets/stable/loaf.png"
                wrapped="true"
                locked="true"
                autoplay="true"
                delay="1000"
            ></game-of-life>
        </td>
        <td>
            <game-of-life                 
                style="width: 100%"
                title="Boat" 
                image="{{ $base }}presets/stable/boat.png"
                wrapped="true"
                locked="true"
                autoplay="true"
                delay="1000"
            ></game-of-life>
        </td>
    </tr>
</table>
{{ .Inner }}
</div>