<!-- {{ $base := .Site.BaseURL }} -->
<script src="{{ $base }}js/web-component.js"></script>
<div
  {{ with .Get "style" }} style="{{ . | safeCSS }}"{{ end }}
  {{ with .Get "class" }} class="{{ . }}"{{ end }}
>
<style>
    .cgol-simple-oscillators {
        width: 100%; 
        border: 0px !important;
    }
    .cgol-simple-oscillators tr {
        background: none !important;
    }
    .cgol-simple-oscillators tr td {
        width: 33.33%;
        padding: 0px;
        background: none;
    }
</style>
<table class="cgol-simple-oscillators">
    <tr>
        <td>
            <game-of-life                 
                style="width: 100%"
                title="Blinker" 
                image="{{ $base }}presets/oscillators/blinker.png"
                locked="true"
                autoplay="true"
                delay="250"
            ></game-of-life>
        </td>
        <td>
            <game-of-life                 
                style="width: 100%"
                title="Toad" 
                image="{{ $base }}presets/oscillators/toad.png"
                locked="true"
                autoplay="true"
                delay="250"
            ></game-of-life>
        </td>
        <td>
            <game-of-life                 
                style="width: 100%"
                title="Beacon" 
                image="{{ $base }}presets/oscillators/beacon.png"
                wrapped="true"
                locked="true"
                autoplay="true"
                delay="250"
            ></game-of-life>
        </td>
    </tr>
</table>
{{ .Inner }}
</div>